body {
    color: #ededed;
    background: #0d0d0d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: auto;
    text-shadow: rgba(0, 0, 0, 1) 0 1px 2px;
}

.page-title {
    text-align: center;
    font-weight: normal;
}

.error-header {
    background: #300;
    font-weight: normal;
    border: 1px solid #ffffff80;
    padding: 7px 12px;
    border-radius: 12px 12px 0 0;
    font-family: monospace;
    color: #d0d0d0;
    margin-bottom: 0;
    border-bottom: 0;
}

.error-body {
    background: #df8585;
    color: black;
    text-shadow: none;
    margin: 0;
    border: 1px solid #ffffff80;
    padding: 5px 9px;
}

.gameday-ticks {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
    border-spacing: 0;
    table-layout: fixed;

    --tick-label-color: #950000;
}

.gameday-ticks td {
    padding: 4px 6px;
}

.gameday-ticks tbody {
    /* tick labels are position: absolute with widths relative to their tbody */
    position: relative;
}

.gameday-ticks .tick-label-row {
    display: block;
    position: absolute;
    border-bottom: 1px solid var(--tick-label-color);
    width: 100%;
    height: 0;
    opacity: 0.5;
}

.gameday-ticks tbody:hover .tick-label-row {
    opacity: 1;
}

.gameday-ticks .tick-label {
    position: absolute;
    left: -64px;
    text-wrap: nowrap;
    background: var(--tick-label-color);
    border-radius: 6px 0 0 6px;
    top: -12px;
    height: 12px;
    padding: 5px 3px 9px 8px;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
    font-size: 12px;
    width: 41px;
}

.gameday-ticks .tick-label::after {
    content: "";
    height: 0;
    width: 0;
    border: 13px solid transparent;
    border-left-color: var(--tick-label-color);
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    right: -26px;
    z-index: 100;
}

.gameday-ticks .tick-error,
.gameday-ticks .tick-warning,
.gameday-ticks .game-tick-error,
.gameday-ticks .game-tick-warning {
    margin: 0;
    padding: 5px 8px;
    border-left: 5px solid transparent;
}

.gameday-ticks .tick-error, .gameday-ticks .game-tick-error {
    background: #3e0000;
    border-left-color: #b50000;
}

.gameday-ticks .tick-warning, .gameday-ticks .game-tick-warning {
    background: #443d00;
    border-left-color: #b5a100;
}

.gameday-ticks .game-tick-label {
    font-size: 0.85em;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: bold;
    opacity: 0.6;
    /*! margin-bottom: 6px; */
    background: rgba(0, 0, 0, 0.5);
    padding: 1px 6px 3px;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.gameday-ticks .game-tick-event {
    background: #393939;
    color: #cecece;
    padding: 5px 8px;
    font-size: 0.9em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.gameday-ticks .description-empty {
    color: #919191;
}

.gameday-ticks .roll {
    padding: 1px 6px 3px;
}

.gameday-ticks .no-rolls {
    background: #000;
    border-left: 5px solid #222121;
    text-transform: lowercase;
    font-variant: small-caps;
    padding: 2px 8px 3px;
    font-size: 13px;
}

.gameday-ticks .roll.trivial-success {
    background: #394a39;
    border-left: 5px solid #9d9d9d;
}

.gameday-ticks .roll.success {
    background: #2d6a2d;
    border-left: 5px solid #07dd00;
}

.gameday-ticks .roll.failure {
    background: #6a2d2d;
    border-left: 5px solid #dd0000;
}

.gameday-ticks .roll.unused {
    background: #1e1e1e;
    border-left: 5px solid #373737;
    color: #646464;
}

.gameday-ticks .roll {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.gameday-ticks .purpose {
    width: 100%;
}

.rng-sibr-dev-link a {
    text-decoration: none;
}


.resim-match {
    position: relative;
}

.resim-match-tooltip {
    position: absolute;
    width: auto;
    background: #282828;
    left: calc(100% + 18px);
    top: -5px;
    display: none;
    text-wrap: nowrap;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 10px;
}

.resim-match:hover .resim-match-tooltip {
    display: block;
}

.resim-match-tooltip::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    position: absolute;
    border-right-color: rgb(91, 91, 91);
    left: -21px;
    top: 8px;
}

.resim-match-header {
    margin: 0;
    background: linear-gradient(#444, #333);
    font-weight: normal;
    padding: 4px 12px 5px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.match .resim-match-header {
    background: linear-gradient(#003100, #002800);
}

.nomatch .resim-match-header {
    background: linear-gradient(#680000, #400000);
}

.resim-match-elements {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resim-match-element {
    padding: 3px 10px;
}

.resim-match-element.failure {
    background: rgba(255, 0, 0, 0.05);
}

.resim-match-element.success {
    background: rgba(0, 255, 0, 0.05);
}

.matching-digits {
    color: #5edf5e;
}

.mismatching-digits {
    color: #f45757;
}

.extra-digits {
    color: #f45757;
    text-decoration: line-through;
}

.float-format {
    font-family: monospace;
    /* https://stackoverflow.com/a/1701085 */
    width: 24ch;
}

.lt-sign-container {
    font-size: 0.7em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}