<!doctype html>
<html>
    <head>
        <title>Desim Error</title>

        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
    <h1 class="page-title">Desim Error</h1>
    <pre class="error-body">{{ error }}</pre>
    </body>
</html>
