<!doctype html>
<html>
    <head>
        <title>Desim Fragment — {{ fragment_label }}</title>

        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1 class="page-title">Desim Fragment — {{ fragment_label }}</h1>
        {% for day in days %}
        <section class="gameday">
            {% for tick in day.ticks %}
            <section class="tick">
                <h1>
                    Tick received at {{ tick.tick_timestamp }}:
                    {{ tick.games | length }}
                    game update{{ tick.games | length | pluralize }}
                </h1>
                {% if tick.errors %}
                <ul class="tick-errors">
                    {% for error in tick.errors %}
                    <li class="tick-error">
                        <p>{{ error }}</p>
                    </li>
                    {% endfor %}
                </ul>
                {%  endif %}
                {% if tick.warnings %}
                <ul class="tick-warnings">
                    {% for warning in tick.warnings %}
                    <li class="tick-warning">
                        <p>{{ warning }}</p>
                    </li>
                    {% endfor %}
                </ul>
                {%  endif %}
                {% if tick.games %}
                <ul class="tick-events">
                    {% for game_tick in tick.games %}
                    <li class="tick-event">
                        <h2>{{ game_tick.game_label }}</h2>
                        {% if game_tick.errors %}
                            <ul class="tick-errors">
                                {% for error in game_tick.errors %}
                                    <li class="tick-error">
                                        <p>{{ error }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {%  endif %}
                        {% if game_tick.warnings %}
                            <ul class="tick-warnings">
                                {% for warning in game_tick.warnings %}
                                    <li class="tick-warning">
                                        <p>{{ warning }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {%  endif %}
                        {# Event description can be the empty string and it looks weird without special handling #}
                        {% if game_tick.description %}
                            <p>{{ game_tick.description }}</p>
                        {% else %}
                            <p class="description-empty">(empty)</p>
                        {% endif %}
                        {% if game_tick.rolls %}
                            <ol class="rolls">
                                {% for roll in game_tick.rolls %}
                                <li class="roll {{ roll.outcome }}">
                                    <p class="right-matter">{{ roll.roll }}</p>
                                    {{ roll.description }}
                                </li>
                                {% endfor %}
                            </ol>
                        {# Don't render the "no rolls" label if there's errors #}
                        {% elif not event.errors %}
                            <p class="no-rolls">No rolls</p>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {%  endif %}
            </section>
            {% endfor %}
        </section>
        {% endfor %}
    </body>
</html>
