<!doctype html>
<html>
    <head>
        <title>Desim Fragment — {{ fragment_label }}</title>

        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1 class="page-title">Desim Fragment — {{ fragment_label }}</h1>
        {% for day in days %}
        <section class="gameday">
            <h1 class="gameday-label">S{{ day.season + 1 }}D{{ day.day + 1 }}</h1>
            <table class="gameday-ticks">
            {% for tick in day.ticks %}
            <tbody class="gameday-tick">
                <tr class="tick-label-row">
                    <td colspan="5" class="tick-label">Tick {{ tick.tick_number }}</td>
                </tr>

                {% if tick.errors %}
                {% for error in tick.errors %}
                <tr>
                    <td colspan="5" class="tick-error">{{ error }}</td>
                </tr>
                {% endfor %}
                {% endif %}

                {% if tick.warnings %}
                {% for warning in tick.warnings %}
                <tr>
                    <td colspan="5" class="tick-warning">{{ warning }}</td>
                </tr>
                {% endfor %}
                {% endif %}

                {% if tick.games %}
                {% for game_tick in tick.games %}
                    <tr>
                        <td colspan="5" class="game-tick-label">{{ game_tick.game_label }}</td>
                    </tr>
                    {% if game_tick.errors %}
                    {% for error in game_tick.errors %}
                        <tr>
                            <td colspan="5" class="game-tick-error">{{ error }}</td>
                        </tr>
                    {% endfor %}
                    {%  endif %}

                    {% if game_tick.warnings %}
                    {% for warning in game_tick.warnings %}
                        <tr>
                            <td colspan="5" class="game-tick-warning">{{ warning }}</td>
                        </tr>
                    {% endfor %}
                    {%  endif %}

                    {# Event description can be the empty string and it looks weird without special handling #}
                    {% if game_tick.description %}
                        <tr>
                            <td colspan="5" class="game-tick-event">{{ game_tick.description }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="game-tick-event description-empty">(empty)</td>
                        </tr>
                    {% endif %}

                    {% if game_tick.rolls %}
                    {% for roll in game_tick.rolls %}
                    <tr>
                        <td class="rng-sibr-dev-link">
                            <a href="https://rng.sibr.dev/?state={{ roll.rng_state }}">🎲</a>
                        </td>
                        <td colspan="2" class="roll {{ roll.outcome }}">
                            {{ roll.description }}
                        </td>
                        <td class="roll {{ roll.outcome }}">{{ roll.roll }}</td>
                        {% if roll.resim_match %}
                        <td class="resim-match">
                          {% if roll.resim_match.rolls_match and roll.resim_match.passed_match and roll.resim_match.thresholds_match %}
                          ✅
                          {% else %}
                          ❌
                          {% endif %}
                        <div class="resim-match-tooltip">
                            <ul class="resim-match-elements">
                                <li class="resim-match-element {% if roll.resim_match.rolls_match %}success{% else %}failure{% endif %}">
                                    Roll {% if roll.resim_match.rolls_match %}matches{% else %}does not match{% endif %}
                                </li>
                                <li class="resim-match-element {% if roll.resim_match.passed_match %}success{% else %}failure{% endif %}">
                                    Passed {% if roll.resim_match.passed_match %}matches{% else %}does not match{% endif %}
                                </li>
                                <li class="resim-match-element {% if roll.resim_match.thresholds_match %}success{% else %}failure{% endif %}">
                                    Threshold {% if roll.resim_match.thresholds_match %}matches{% else %}does not match{% endif %}
                                </li>
                            </ul>
                        </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td class="tick-indent"></td>
                            <td colspan="4" class=" roll no-rolls">No rolls</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </tbody>
            {% endfor %}
            </table>
        </section>
        {% endfor %}
    </body>
</html>
