<!doctype html>
<html>
    <head>
        <title>Desim Fragments</title>

        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1 class="page-title">Desim Fragments</h1>
        <ul class="fragments">
            {% for fragment in fragments %}
                <li><a href="{{ fragment.uri }}">{{ fragment.title }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
