<!doctype html>
<html>
    <head>
        <title>Desim — S{{ season + 1 }}D{{ day + 1 }}</title>

        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1 class="page-title">Desim — S{{ season + 1 }}D{{ day + 1 }}</h1>
        <section class="gameday">
            {% for tick in ticks %}
            <section class="tick">
                <h2 class="right-matter">{{ tick.tick_timestamp }}</h2>
                <h1>Tick {{ tick.tick_index }}: {{ tick.time_since_start }}</h1>
                {% if tick.errors %}
                <ul class="tick-errors">
                    {% for error in tick.errors %}
                    <li class="tick-error">
                        <p>{{ error }}</p>
                    </li>
                    {% endfor %}
                </ul>
                {%  endif %}
                {% if tick.warnings %}
                <ul class="tick-warnings">
                    {% for warning in tick.warnings %}
                    <li class="tick-warning">
                        <p>{{ warning }}</p>
                    </li>
                    {% endfor %}
                </ul>
                {%  endif %}
                {% if tick.events %}
                <ul class="tick-events">
                    {% for event in tick.events %}
                    <li class="tick-event">
                        <h2>{{ event.game_label }}</h2>
                        {% if event.errors %}
                            <ul class="tick-errors">
                                {% for error in event.errors %}
                                    <li class="tick-error">
                                        <p>{{ error }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {%  endif %}
                        {% if event.warnings %}
                            <ul class="tick-warnings">
                                {% for warning in event.warnings %}
                                    <li class="tick-warning">
                                        <p>{{ warning }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {%  endif %}
                        <p>{{ event.description }}</p>
                        {% if event.rolls %}
                            <ol class="rolls">
                                {% for roll in event.rolls %}
                                <li class="roll {{ roll.success }}">{{ roll.description }}</li>
                                {% endfor %}
                            </ol>
                        {# Don't render the "no rolls" label if there's errors #}
                        {% elif not event.errors %}
                            <p class="no-rolls">No rolls</p>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {%  endif %}
            </section>
            {% endfor %}
        </section>
    </body>
</html>
